:root {
  --font-default: 'DM Sans', Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  margin-bottom: 0;
  padding: 0.5vw;
}
img {
  padding-right: 1rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Mobile first */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}
/* Landing Page */
main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding: 0.5vw 2vw 0;
  margin: 1vw 3vw;
  border-radius: 2rem;
}
.hero-section {
  display: block;
  box-shadow: unset;
}
.hero-content {
  padding: 20px 0;
}
.hero-content::after {
  content: unset;
}
.hero-content > * {
  position: relative;
  z-index: 1;
}
.hero-headline {
  font-weight: 600;
  font-size: clamp(1.5rem, 1.3rem + 4vw, 4.5rem);
}
.hero-text {
  padding: 17px 0 36px;
  font-size: clamp(0.7rem, 0.6rem + 1.5vw, 1.5rem);
  font-weight: normal;
}
.hero-img img {
  display: block;
  height: 100%;
  border-radius: 10px;
  padding: 0;
}
/* Header */
.header-logo {
  margin: 3.5%;
  margin-bottom: 0;
}
.main-navbar {
  display: flex;
  flex-direction: column;
  margin: 3.5%;
}
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.topnav a {
  width: fit-content;
  display: none;
  color: black;
  text-align: center;
  padding: 0.75rem;
  margin: 5px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  position: relative;
}
.topnav a:hover,
.topnav a:focus,
.topnav a.active {
  background-color: red;
  color: white;
  border-radius: 10px;
}
.topnav a:not(a.icon):hover::after,
.topnav a:not(a.icon):focus::after,
.topnav a.active:not(a.icon)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  bottom: 8px;
  width: 85%;
  margin: 0 auto;
  background-color: white;
}
.topnav a.icon {
  display: block;
  padding: clamp(0.2rem, 0.1rem + 1vw, 1rem);
  font-size: clamp(1.8rem, 1.75rem + 2vw, 2.5rem);
  color: red;
  align-self: end;
}
.topnav a.icon:hover,
.topnav a.icon:focus {
  border-radius: 0.5rem;
  color: white;
}
.topnav.responsive .main-navbar {
  position: fixed;
  top: clamp(4rem, 3.5rem + 4vw, 5rem);
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(50, 50, 50, 97%);
  border-radius: 0.5rem;
  overflow-y: auto;
  padding: clamp(1rem, 1rem + 2vw, 2rem);
}
.topnav.responsive a {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
}
.topnav.responsive a.icon {
  color: white;
  background-color: red;
  border-radius: 0.5rem;
}
/* Modal form */
.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.modal-close:before,
.modal-close:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 33px;
  width: 3px;
  background-color: white;
}
.modal-close:before {
  transform: rotate(45deg);
}
.modal-close:after {
  transform: rotate(-45deg);
}
.button {
  display: block;
  background: #fe142f;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  background: #3876ac;
}
.hero-section > .btn-signup {
  display: block;
  margin: 32px auto 10px;
  padding: 12px 30px;
  font-weight: bold;
}
.hero-content .btn-signup {
  display: none;
  margin: 0;
  margin-top: 59px;
  padding: 11px 30px;
  font-size: 1.5rem;
}
.btn-submit {
  text-transform: none;
  margin: 1rem auto;
  padding: clamp(0.3rem, 0.3rem + 2vw, 1rem) clamp(2rem, 1.8rem + 2vw, 3.5rem);
  width: max(45%, 160px);
}
/* Modal */
.modal {
  display: none;
}
.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
.modal-content {
  margin: 2.5% auto;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  padding-top: 10px;
  background: #232323;
  border-radius: 8px 8px 0 0;
  box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.25);
  z-index: 11;
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}
.modal-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}
.modal-header h2 {
  margin: 1rem;
  font-size: 1.2em;
  display: none;
}
.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}
/* Modal Form */
label {
  font-family: var(--font-default);
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
p.text-label {
  font-weight: normal;
  font-size: 16px;
  padding: 0.5vw 0;
}
input {
  padding: 8px;
  border: 2px solid #ccc;
  outline: none;
}
.fa-icon {
  position: relative;
}
.formData i {
  position: absolute;
  top: -35px;
  right: 35px;
  visibility: hidden;
}
.formData small {
  font-size: 0.8rem;
}
.formData.valid input {
  border-color: #28a745;
}
.formData.invalid input {
  border-color: red;
}
.formData.valid i.fa-check-circle {
  color: #28a745;
  visibility: visible;
}
.formData.invalid i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}
.formData.invalid i.fa-check-circle {
  visibility: hidden;
}
.formData.invalid small {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: red;
  visibility: visible;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.checkbox-input {
  display: none;
}
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon {
  border-radius: 50%;
  border: 1px solid #fff;
}
.checkbox-label .checkbox-icon:focus,
.checkbox-input:checked + .checkbox-label .checkbox-icon:focus {
  outline: double;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  background: #c4c4c4;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: '';
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox2-label .checkbox-icon::after {
  width: 12px;
  height: 8px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon,
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon {
  outline: 1px solid #279e7a;
  border: 3px solid #232323;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
/* Success Modal */
.successModal {
  display: none;
  height: 100%;
}
.successModal .modal-mask {
  z-index: 20;
}
.successModal .modal-content {
  position: absolute;
  z-index: 21;
  /* height: 100%; */
  overflow-y: hidden;
  top: 12%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px 8px 0 0;
}
.successModal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.successModal h3 {
  max-width: 85%;
  font-size: 2rem;
  text-align: center;
  margin-top: auto;
}
.successModal h3 span {
  display: block;
  color: #c4c4c4;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
.successModal button {
  margin-top: auto;
  margin-bottom: 3rem;
}
/* Footer */
footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}
.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 50px 0 30px;
  font-weight: bolder;
  text-align: center;
}
fieldset {
  font-size: 1rem;
  font-weight: normal;
}
legend {
  padding: 1rem 5px;
}
/* Desktop */
@media screen and (min-width: 980px) {
  .main-navbar {
    flex-direction: row;
  }
  .topnav.responsive .main-navbar {
    position: static;
    height: auto;
    background-color: transparent;
  }
  .topnav a {
    display: block;
    color: #000000;
    font-size: 1.2rem;
  }
  .topnav a.icon {
    display: none;
  }
  .header-logo {
    width: 25%;
  }
  .hero-section {
    min-height: 93vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  .hero-section > .btn-signup {
    display: none;
  }
  .hero-content {
    padding: 51px 67px;
    grid-column: span 4;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
    min-width: 424px;
  }
  .hero-content::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #232323;
    position: absolute;
    right: -80px;
    top: 0;
  }
  .hero-content .btn-signup {
    display: block;
  }
  .hero-headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;
  }
  .hero-text {
    width: 146%;
    font-size: 1.5rem;
    text-align: justify;
    margin: 70px 0;
    padding: 0;
  }
  .hero-img {
    grid-column: span 8;
  }
  /* footer */
  .copyrights {
    margin-top: 60px;
    text-align-last: left;
  }
}
/* Animation */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
